
.close-btn{
    top: 0;
    right: 0;
    position: absolute;
}
.active{
  background-color: rgb(68, 149, 231) !important;
  color:white !important;
  /* border-color: red !important; */
}
.link{
  cursor:pointer;
}
.link:hover{
  color:dodgerblue;
}
/* errors */
.error-inputs{
    border-color: red !important;
}

/* Dropdown*/
.dropbtn {
    /* background-image: url('../svg/setting.svg'); */
    object-fit: contain;
    padding: 15px 0 10px 35px;
    margin-top: 5px;
    margin-left: 15px;
    background-repeat: no-repeat;
    border: none;
    z-index: 2;
    position: relative;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 40px;
    margin-top: -40px;
    padding: 20px;
  }
  .dropdown-content button {
    padding: 5px 5px;
    display: block;
  }

  .dropdown:hover .dropdown-content {display: block !important;}